Q1. Write a program to calculate BMI of a person

In [ ]:
x = input("Enter your weight in kg: ")
y = input("Enter your height in m: ")
BMI = float(x)/float(y)**2
print("Your BMI is", BMI)

Enter your weight in kg: 10
Enter your height in m: 2
Your BMI is 2.5

Q2. String Concatenate

In [ ]:
x = input("Enter string 1  ")
y = input("Enter string 2  ")
concat= x+y
print("Concatenated string is ", concat)

Enter string 1  asd
Enter string 2  sdfd
Concatenated string is  asdsdfd

Q3. single , double , triple quotes. Q4. ASCII VALUE OF A CHARACTER Q5. change A UPPERCASE AND TURN IT TO LOWERCASE

In [ ]:
print("'ola' '''hello'''")
print('"ola"')
ascii = input("give a charcter in upper case find the ascii value and get the lowecase")
print(f"Your ascii value of {ascii} is , {ord(ascii)}, and the lower case character is {ascii.lower()}")

'ola' '''hello'''
"ola"
give a charcter in upper case find the ascii value and get the lowecaseU
Your ascii value of U is , 85, and the lower case character is u

Q6, swap two number using a temporarty variable

In [ ]:
a=4
b=a
c=5
a=c
c=b
print(a,b)

5 4

7.take a address input and break it into multiple line
8. calculate Simple and compound interest
9.input x and y and print x to the power y

In [ ]:
address = input("Please give your address:  ")
for word in address.split():
  print(word)

Please give your address:  kalanki kathmandu nepal
kalanki
kathmandu
nepal

In [ ]:
#i=ptr/100
p = int(input("Input principal:  "))
t = int(input("Input time:  "))
r = int(input("Input rate:  "))
interest = (p*t*r)/100
print("The interest is, ",interest)

Input principal:  100
Input time:  2
Input rate:  2
The interest is,  4.0

NO.9,10 x^y and greetings first name , last name

In [4]:
x = int(input("please give an int"))
y = int(input("please give an int"))
print(f"x^y is {x**y}")
f_name,l_name= input("first name and last name").split()
print(f"Greetings {f_name} {l_name}")

please give an int2
please give an int3
x^y is 8
first name and last namesubodh ghimire
Greetings subodh ghimire

salary

In [5]:
b_pay = int(input("enter your basic pay"))
HRA = 0.1 * b_pay
TA = 0.05 * b_pay
print(f"Your salar is {b_pay + HRA + TA}")

enter your basic pay500
Your salar is 575.0

Bill

In [15]:
total=0
x = ""
i = "yes"


while(i=="yes"):
  i_name = input("enter the name of the item: ")
  i_quant = int(input("quantity of the purchase item: "))
  i_price = float(input("price of the input: "))
  total += i_quant*i_price
  x+=(f"{i_quant}                  {i_quant*i_price}\n")
  i = input("Type yes if you want to contiue")
print("************* BILL **********")
print("Item Quantity     Price Amount")
print(x)
print("Total Amount to be paid",total )
print("*****************************")

enter the name of the item: soap
quantity of the purchase item: 2
price of the input: 2
Type yes if you want to contiueyes
enter the name of the item: choclate
quantity of the purchase item: 2
price of the input: 2
Type yes if you want to contiueno
************* BILL **********
Item Quantity     Price Amount
2                  4.0
2                  4.0

Total Amount to be paid 8.0
*****************************