Q1. Write a program to calculate BMI of a person

In [1]:
x = input("Enter your weight in kg: ")
y = input("Enter your height in m: ")
BMI = float(x)/float(y)**2
print("Your BMI is", BMI)

Enter your weight in kg: 10
Enter your height in m: 2
Your BMI is 2.5

Q2. String Concatenate

In [4]:
x = input("Enter string 1  ")
y = input("Enter string 2  ")
concat= x+y
print("Concatenated string is ", concat)

Enter string 1  asd
Enter string 2  sdfd
Concatenated string is  asdsdfd

Q3. single , double , triple quotes. Q4. ASCII VALUE OF A CHARACTER Q5. change A UPPERCASE AND TURN IT TO LOWERCASE

In [8]:
print("'ola' '''hello'''")
print('"ola"')
ascii = input("give a charcter in upper case find the ascii value and get the lowecase")
print(f"Your ascii value of {ascii} is , {ord(ascii)}, and the lower case character is {ascii.lower()}")

'ola' '''hello'''
"ola"
give a charcter in upper case find the ascii value and get the lowecaseU
Your ascii value of U is , 85, and the lower case character is u

Q6, swap two number using a temporarty variable

In [9]:
a=4
b=a
c=5
a=c
c=b
print(a,b)

5 4